<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>welcom ,gaozhaoxi</title>


    <!--<script type="text/javascript" src="/static/js/jquery-3.3.1.js"/>-->
    <!--<script type="text/javascript" src="/static/js/json2.js"/>-->

    <!--thymeleaf的写法-->
    <script th:src="@{/static/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/static/js/json2.js}"></script>

    <script type="text/javascript">
        // $(document).onload(function () {
        //    testRequestBody();
        // });
        $(document).on('click','submit',function(){
            testRequestBody();
           // window.location.href="/mysave";
        });

        function testRequestBody(){
            // var name2=document.getElementById("name");
            // alert(name2.value);
            //var saveDataAry=[];

            var name1=$("#name").val().trim();
            var age1=Number($("#age").val().trim());
            var address1=$("#address").val().trim();
            var data1={name:name1,age:age1,address:address1};
            $.ajax({
                url:"/save",
                dataType:"json",
                    type:"POST",
                contentType:"application/json",
               data:JSON.stringify(data1),
                // data:data1,
               //  data: $('#myform').serialize(),
                success:function (data) {
                    if(data.status){
                        alert(data.data);
                    }else{
                        alert(data.msg);
                    }
            },
                error:function(){
                    alert("发生错误，请重试");
                }
            });

            window.location.href="/mysave";
        }
    </script>
</head>
<body>
    <h1>JPA测试</h1>
    <div>
        <div>
            <!--action的名称对应于@controller的同名方法-->
            <form name="myform" id="myform" th:action="@{/mysave}" enctype="multipart/form-data" method="post" onsubmit="return false">
                <label>输入姓名</label><input type="text" name="name" id="name"/>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <label>输入年龄</label><input type="text" name="age" id="age"/>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <label>输入地址</label><input type="text" name="address" id="address">
                <input type="button" name="submit" id="submit" value="上传" onclick="testRequestBody()"/>
            </form>
        </div>
        <!--
        <div>
            <label>输入姓名</label><input type="text" id="name"/>
            <label>输入年龄</label><input type="text" id="age"/>
            <label>输入地址</label><input type="text" id="address">
            <input type="submit" value="上传"/>
        </div>
        -->
    </div>
</body>